



<h1>Welcome to the MBToday</h1>
<h2>Please choose your location and destination</h2>
<h2 style="color: red;">PLEASE SELECT A </br>STARTING LOCATION AND DESTINATION</h2>
<form action="/trains/create/" method='post'>
<!-- alternative shorter method -->
<div class="styled-select">
  <select name="origin_start">
  <% Train_routes.each do |line, stations| %>
  <optgroup label=<%=line%>>
  <% stations.each do |station| %>
  <option value="<%=line+"-"+station%>"><%=station%></option>
  <% end %>
  </optgroup>
  <% end%>
<!--   <option value="red line-south st">Red-South St</option>
  <option value="red line-park st">Red-Park St</option>
  <option value="red line-kendall">Red-Kendall</option>
  <option value="red line-central">Red-Central</option>
  <option value="red line-harvard">Red-Harvard</option>
  <option value="red line-porter">Red-Porter</option>
  <option value="red line-davis">Red-Davis</option>
  <option value="red line-alewife">Red-Alewife</option>
 <option value="green line-haymarket green">Green-Haymarket</option>
 <option value="green line-govt center">Green-Govt Center</option>
 <option value="green line-park st">Green-Park St</option>
 <option value="green line-boylston">Green-Boylston</option>
 <option value="green line-arlington">Green-Arlington</option>
 <option value="green line-copley">Green-Copley</option>
  <option value="orange line-north st">Orange-North St</option>
  <option value="orange line-haymarket orange">Green-Haymarket</option>
  <option value="orange line-park st">Orange-Park St</option>
  <option value="orange line-state st">Orange-State St</option>
  <option value="orange line-downtown">Orange-Downtown</option>
  <option value="orange line-chinatown">Orange-Chinatown</option>
  <option value="orange line-back bay">Orange-Back Bay</option>
  <option value="orange line-forest hill">Orange-Forest Hill</option> -->

</select>
</div>
<div class="styled-select">
  <select name="origin_stop">
    <% Train_routes.each do |line, stations| %>
  <optgroup label=<%=line%>>
  <% stations.each do |station| %>
  <option value="<%=line+"-"+station%>"><%=station%></option>
  <% end %>
  </optgroup>
  <% end%>
  <!-- <option value="red line-south st">Red-South St</option>
  <option value="red line-park st">Red-Park St</option>
  <option value="red line-kendall">Red-Kendall</option>
  <option value="red line-central">Red-Central</option>
  <option value="red line-harvard">Red-Harvard</option>
  <option value="red line-porter">Red-Porter</option>
  <option value="red line-davis">Red-Davis</option>
  <option value="red line-alewife">Red-Alewife</option>
 <option value="green line-haymarket green">Green-Haymarket</option>
 <option value="green line-govt center">Green-Govt Center</option>
 <option value="green line-park st">Green-Park St</option>
 <option value="green line-boylston">Green-Boylston</option>
 <option value="green line-arlington">Green-Arlington</option>
 <option value="green line-copley">Green-Copley</option>
  <option value="orange line-north st">Orange-North St</option>
  <option value="orange line-haymarket orange">Orange-Haymarket</option>
  <option value="orange line-park st">Orange-Park St</option>
  <option value="orange line-state st">Orange-State St</option>
  <option value="orange line-downtown">Orange-Downtown</option>
  <option value="orange line-chinatown">Orange-Chinatown</option>
  <option value="orange line-back bay">Orange-Back Bay</option>
  <option value="orange line-forest hill">Orange-Forest Hill</option> -->
</select>
</div>
</br>
  <input type='submit' value="Begin Journey"/>
</form> 