<!DOCTYPE html>
<html>
<head>
  <title>THE T</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>MBToday Trip Calculator</h1>
  <div class="routes">
  <h2>Red Line</h2>
  <ul>
   <% Train_routes["red line"].each do |station| %>
    <li> <% if ((station == @start)||(station == @stop)) && ((@line1 == "red line")||(@line2 == "red line"))%>
    <strong> <%= station %></strong>
            <% else %>
            <%= station %> </li>
            <%end%>
        <%end%> 
  </div>

 <div class="routes">
  <h2>Green Line</h2>
  <ul>
    <% Train_routes["green line"].each do |station| %>
    <li> <% if ((station == @start)||(station == @stop)) && ((@line1 == "green line")||(@line2 == "green line")) %>
    <strong> <%= station %></strong>
            <% else %>
            <%= station %> </li>
            <%end%>
        <%end%> 
  </div>

 <div class="routes">
  <h2>Orange Line</h2>
  <ul>
    <% Train_routes["orange line"].each do |station| %>
    <li> <% if ((station == @start)||(station == @stop)) && ((@line1 == "orange line")||(@line2 == "orange line")) %>
    <strong> <%= station %></strong>
            <% else %>
            <%= station %> </li>
            <%end%>
        <%end%> 
  </div>

<h2>The distance for your trip</h2>
<h2>from <%=@line1%> <%=@start%> to <%=@line2%> <%=@stop%> </h2>
<h2>is <%=@answer%> stops</h2>

</body>
</html>