<h2>Your Trip</h2>
<p class="line"> Start Line: <%= @home_line %> </p>
<p class="station"> Start Station: <%= @home %> </p>
<br/>
<p class="line"> End Line: <%= @destination_line %> </p>
<p class="station"> End Station: <%= @destination %> </p>
<br/>
<p class="calc"> Stops: <%= @calc %> </p>